<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="LoadPort" type="WaferBondingForceMeasureSystem.Util.Config.ConfigSection, WaferBondingForceMeasureSystem.Util.Config"/>
	</configSections>
	<LoadPort value="COM2"></LoadPort>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<appSettings>
	<add key="FolderAddress" value="方案/"></add>
	<add key="LoadPort" value="COM2"></add>
</appSettings>
</configuration>