<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FolderAddress" value="方案/"></add>
		<add key="LoadPort" value="COM2"></add>
	</appSettings>
	<configSections>
		<section name="LoadPort" type="WaferBondingForceMeasureSystem.Util.Config.ConfigSection, WaferBondingForceMeasureSystem.Util.Config"/>
		<section name="LP" type="WaferBondingForceMeasureSystem.Util.Config.ConfigSection, WaferBondingForceMeasureSystem.Util.Config"/>
	</configSections>
	<LoadPort value="COM2"></LoadPort>
	<LP value="COM2"></LP>
</configuration>